<div class="translation_title">
  <span class="text-lg text-bold">List translation key found in the application</span>
</div>

<div class="row translation_container">
  <div class="col-md-3 translation_list" data-url='<%= translation_missing_show_path %>' data-container='.translation_edit_container'>
    <div class="container-fluid translation_filter">
      <div class="row">
        <div class=" col-md-10">
          <%= text_field_tag :search, '', :class => 'translation_search form-control', :placeholder => 'Search...', :autocomplete => 'off' %>
        </div>
        <div class="col-md-2">
          <div class="btn btn-default active show-completed">
            <span class="glyphicon glyphicon-eye-open" title="Show completed" rel='tooltip'></span>
          </div>
        </div>
      </div>
    </div>
    <div class='loadonready' data-url='<%= translation_missing_list_path %>'>
    </div>
  </div>
  <div class='translation_edit_container col-md-9'>

  </div>
</div>