<h1>List of untranslated key found in the application</h1>
<ul>
  <% I18n.backend.backends.each do |backend| %>
      <li><%= backend %></li>
  <% end %>
</ul>
<hr>
<div class='loadonready' data-url='<%= translation_missing_list_path %>'>
</div>
