/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */
html, body, .wrapper {
  height: 100%;
  min-height: 100%;
}

body {
  padding-top: 70px;
}

.translation_missing_container .row {
  padding: 1rem 0;
  border-bottom: 1px solid #e5e5e5;
}

.editor_container {
  margin-top: 5rem;
  margin-bottom: 2rem;
  .ace_editor {
    overflow: hidden;
  }
}

$light_grey: #d5d5d5;
$lighter_grey: #e5e5e5;
$lightest_grey: #f5f5f5;
$white_grey: #fcfcfc;

$border-color: $lightest_grey;
div.translation_container {
  border-top: 1px solid $border-color;
  height: 100%;
  div.translation_list {
    border-right: 1px solid $border-color;
    padding-right: 0;
    height: 100%;
    div.translation_filter {
      padding: 1rem;
      background-color: $white_grey;

      input[type="text"] {
      }
    }
    div.translation_item {
      padding: 2rem;
      cursor: pointer;
      &.active {
        background-color: #4183C4;
      }
      &:nth-child(even) {
        background-color: $white_grey;
      }
      &:hover:not(.active) {
        background-color: $lighter_grey;
      }

      border-top: 1px solid $border-color;
      &:last-child {
        border-bottom: 1px solid $border-color;
      }

      .translation_filename {
        direction: rtl;
        overflow: hidden;
        text-overflow: ellipsis;
        unicode-bidi: bidi-override;
        font-style: italic;
      }

      &.active {
        background-color: #6B9ED1;
        color: white;
        position: relative;

        &:after, &:before {
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        &:after {
          border-color: rgba(65, 131, 196, 0);
          border-left-color: #6B9ED1;
          border-width: 10px;
          margin-top: -10px;
        }
        &:before {
          border-color: rgba(65, 131, 196, 0);
          border-left-color: $border-color;
          border-width: 11px;
          margin-top: -11px;
        }
      }
    }
  }
}
