<div class=''>
  <ul ul class="nav navbar-nav">
    <li><%= link_to 'Home', '/', :class => 'brand' %></li>
    <li><%= link_to 'Missing translation', translation_home_path, :class => 'brand' %></li>
  </ul>
</div>